<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12
   container-space text-left ml-3 pr-0">
  <button mdbBtn color="info" class="my-4" type="submit" (click)="getList()">User list</button>
  <div class="text-center" *ngIf="userDetail">
    <img [src]="userDetail.profile_image" height="300" width="350">
  </div>  
  <table class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 table table-striped table-bordered p-0 mt-2"
    style="width: 95%;overflow-x: auto;">
    <tbody *ngIf="userDetail">
      <tr>
        <td>
          First Name
        </td>
        <td>
          {{userDetail.first_name}}
        </td>
      </tr>
      <tr>
        <td>
          Last Name
        </td>
        <td>
          {{userDetail.last_name}}
        </td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>
          {{userDetail.email}}
        </td>
      </tr>
      <tr>
        <td>
          Phone Number
        </td>
        <td>
          {{userDetail.phone_number}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="userDetail">
    <button mdbBtn color="danger" class="my-4" type="submit" (click)="deleteUser()">Delete User</button>
  </div>

  <div *ngIf="!userDetail">
    No user found
  </div>
</div>
